<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deer Detection</title>
</head>
<body>

    
    
    <!-- "deer_detected": True,
        "location": {
            "latitude": 38.8951,
            "longitude": -77.0364
        },
        "timestamp": datetime.now().strftime("%Y-%m-%d %H:%M:%S") -->

    <header><h1>Animal Detection</h1>
    </header>
    <h1>Dashboard</h1>
    <h1>IOT</h1>
    <button>Solved</button>


    <h2>Details</h2>
    
    <p>{{ device }}</p>  
      
    <h2>Time Stamp</h2>
    
    <p><div>{{ time_stamp }}</div></p>

    <h2>Location</h2>
    <p><div>{{ latitude }} {{ longitude }}</div>  </p>

    <h2>Map</h2>

    <p><div>{{ map }}</div></p>

    <h2>Location</h2>

    <p><div>{{ location }}</p><div>

    <h2>Detection</h2>
    <p><div>{{ detection_time }}</div></p>
    <p><div>{{ detection_id }}</div></p>

    <h2>Alerts</h2>
    <p><div>{{ alert_count }}</div></p>

    <h2>Animal type</h2>
    <p><div>{{ animal_type  }}</div></p>
    <footer>
    
        <p>This is the Footer</p>
    </footer>
</body>
</html>